Django==2.1.1
django-extensions==2.1.2
psycopg2==2.7.5

# DRF
django-filter==2.0.0
djangorestframework==3.8.2
Markdown==2.6.11
coreapi==2.3.3
djangorestframework-gis==0.13

uwsgi==2.0.17
factory_boy
ipython==6.5.0
